@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

:root {
  --ff: 'Plus Jakarta Sans', sans-serif;
  --clr-primary: 242, 48%, 58%;
  --clr-primary-light: 243, 100%, 82%;
  --clr-white: 0, 0%, 100%;
  --clr-text-dark: 237, 100%, 4%;
  --clr-text-light: 216, 15%, 57%;
  --clr-app-bg: 220, 69%, 97%;
  --clr-box-bg: 0, 0%, 100%;
  --clr-line: 221, 69%, 94%;

  --clr-red: 0, 78%, 63%;
  --clr-red-light: 0, 100%, 80%;
  --linear-bg: linear-gradient(
    180deg,
    #e9effa 0%,
    rgba(233, 239, 250, 0.5) 100%
  );
  --fs-700: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.125rem;
  --fs-400: 0.9375rem;
  --fs-300: 0.75rem;
  --fs-200: 0.8125rem;
  --fs-100: 0.75rem;

  --line-h-400: 23px;
  --line-h-300: 19px;
  --line-h-200: 15px;
  --line-h-100: 13px;

  --drawer-width: 280px;
}

.dark {
  --clr-app-bg: 235, 16%, 15%;
  --clr-box-bg: 235, 12%, 19%;
  --clr-line: 236, 11%, 27%;
  --clr-text-dark: 0, 0%, 100%;
  --linear-bg: linear-gradient(
    180deg,
    rgba(43, 44, 55, 0.25) 0%,
    rgba(43, 44, 55, 0.125) 100%
  );
}

@media screen and (max-width: 650px) {
  :root {
    --drawer-width: 200px;
  }
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
button,
input {
  background: none;
  border: none;
  border-radius: none;
  font-family: var(--ff);
}

button {
  cursor: pointer;
  display: block;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  font-family: var(--ff);
  font-weight: 500;
  overflow-x: hidden;
  font-family: var(--ff);
  /* min-height: 100vh; */
}

/* UTILS */

.bg-app {
  background-color: hsl(var(--clr-app-bg));
}
.bg-box {
  background-color: hsl(var(--clr-box-bg));
}
.bg-primary {
  background-color: hsl(var(--clr-primary));
}
.bg-primary-light {
  background-color: hsl(var(--clr-primary-light));
}
.bg-red {
  background-color: hsl(var(--clr-red));
}
.bg-red-light {
  background-color: hsl(var(--clr-red-light));
}
.bg-linear {
  background: var(--linear-bg);
}
.text-dark {
  color: hsl(var(--clr-text-dark));
}
.text-light {
  color: hsl(var(--clr-text-light));
}
.text-primary {
  color: hsl(var(--clr-primary));
}
.text-primary-light {
  color: hsl(var(--clr-primary-light));
}
.text-red {
  color: hsl(var(--clr-red));
}
.text-red-light {
  color: hsl(var(--clr-red-light));
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-100 {
  font-size: var(--fs-100);
}
.line-h-400 {
  line-height: var(--line-h-400);
}
.line-h-300 {
  line-height: var(--line-h-300);
}
.line-h-200 {
  line-height: var(--line-h-200);
}
.line-h-100 {
  line-height: var(--line-h-100);
}
.fw-m {
  font-weight: 500;
}
.fw-b {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.image__wrapper {
  position: relative;
}
